<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BlueParrot - Home</title>
</head>
<body>
    <h2>A simple blue parrot web app</h2>
    <p>This is Test hypotical app developed to demonstrate a complete CI/CD pipeline</p>

   <a href='http://localhost:5002/GetList'><input type = "button" value = "Show List" /></p>  
    <table border = 1>
            {% for parrot in parrotList %}
                <tr>
                <th> {{ parrot }} </th>
                </tr>
            {% endfor %}
    </table>
</body>
</html>