<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BlueParrot - Home</title>
</head>
<body>
    <h2>A simple blue parrot web app</h2>
    <p>This is Test hypotical app developed to demonstrate a complete CI/CD pipeline</p>
    <form action="" method="GET" name="GetList">
        <input type = "submit" value = "Refresh List" />
                <table style="width:100%" border="2">
                    <tr>
                        <th>Name</th>
                    </tr>
                    {% for parrot in parrotList %}
                    <tr> 
                        <td><a href='/showDetails?name={{parrot['name']}}' >{{ parrot['name'] }}</a>
                    </tr>
                    {% endfor %}
                </table>
    </form>
</body>
</html>